<div class="navbarSection">
    <div class="navbarContent">
        <div class="navbarLogo">
            <img src="assets/img/logomain.png" alt="Main Logo" onClick="location.reload()">
        </div>
        <div class="navbarLinks">
            <a href="#leistungen" class="btn btn-2">
                <span>LEISTUNGEN</span>
            </a>
            <a href="#preisliste" class="btn btn-2">
                <span>PREISLISTE</span>
            </a>
            <a href="#kontakt" class="btn btn-2">
                <span>KONTAKT</span>
            </a>
            <a href="tel:+4915170805051" class="btn btn-2">
                <span>ANRUFEN</span>
            </a>
        </div>
    </div>
</div>
<div class="introSection" id="home">
    <div class="introContent">
            <div class="introImageSlider">
                <img id="sliderImage" src="assets/img/slider1.jpg" alt="Slider Image">
                <img id="sliderImage2" src="assets/img/slider2.jpg" alt="Slider Image 2" style="opacity: 0;">
            </div>
            <div class="welcomeText">
                <span>
                   Herzlich Willkommen im Kosmetikstudio SchönZeit!
                </span> <br>
                <span class="welcomeTextDescription">
                    Lassen Sie sich entführen in eine Welt der Entspannung und Schönheit. <br>
                    Erfahren Sie warum SchönZeit der ideale Ort ist, um dem Alltag zu entfliehen und sich rundum verwöhnen zu lassen
                </span>
            </div>
            <a href="#about" class="aboutButton">
                <button style="--c: #373B44;--b: 2px;--s:12px">ÜBER UNS</button>
            </a>
    </div>
    <div class="designBg">
        <img src="assets/img/designmain.png" alt="Background Design Border">
    </div>
</div>