.introSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 243, 238);
    z-index: 0;
}

.introContent {
    max-width: 1100px;
    width: 100%;
    z-index: 1;
}

.navbarSection {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #e4d9cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-bottom: 1px solid rgba(63, 47, 31, 0.3);
    box-shadow: 0 0 18px -3px #3f2f1f;
}

.navbarContent {
    height: 100px;
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}

.navbarLogo {
    img {
        width: 85px;
        height: auto;
        cursor: pointer;
        border-radius: 100%;
        transition: all 225ms ease-in-out;
        &:hover {
            transform: scale(1.1);
            transition: all 225ms ease-in-out;
        }
    }
}

.navbarLinks {
    display: flex;

    a {
        text-decoration: none;
        padding: 15px;
        color: rgb(63, 47, 31);
        font-size: 18px;
        transition: all 280ms ease-in-out;
    }
}

.btn {
    color: #3f2f1f;
    cursor: pointer;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-family: "Oswald", sans-serif;
    transition: all 280ms ease-in-out;
}

.btn-2 {
    letter-spacing: 2px;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
    backface-visibility: hidden;
    // border: 1px solid rgba(#3f2f1f, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
    backface-visibility: hidden;
    border-color: #3f2f1f;
    transition: width 350ms ease-in-out;
    width: 70%;
}

.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}

.designBgIntro1 {
    position: absolute;
    top: 100px;
    left: -150px;
    z-index: 0;
    pointer-events: none;
    img {
        opacity: 0.3;
        width: 300px;
    }
}

.designBgIntro2 {
    position: absolute;
    top: 100px;
    right: -150px;
    z-index: 0;
    pointer-events: none;
    img {
        opacity: 0.3;
        width: 300px;
    }
}

.designBg {
    position: absolute;
    top: 1000px;
    left: -280px;
    z-index: 0;
    pointer-events: none;
    img {
        opacity: 0.3;
    }
}

.designBg2 {
    position: absolute;
    top: 1800px;
    right: -280px;
    z-index: 0;
    pointer-events: none;
    img {
        opacity: 0.3;
    }
}

.designBg3 {
    position: absolute;
    top: 2600px;
    left: -280px;
    z-index: 0;
    pointer-events: none;
    img {
        opacity: 0.3;
    }
}

.designBg4 {
    position: absolute;
    top: 3200px;
    right: -280px;
    z-index: 0;
    pointer-events: none;
    img {
        opacity: 0.3;
    }
}

.designBg5 {
    position: absolute;
    top: 4000px;
    left: -280px;
    z-index: 0;
    pointer-events: none;
    img {
        opacity: 0.3;
    }
}


.introImageSlider {
    height: 100%;
    width: 100%;
    img {
        position: absolute;
        top: 40vh;
        left: 0;
        height: 60vh;
        width: 100%;
        object-fit: cover;
        transition: opacity 2s ease-in-out;
        opacity: 0;
        border-top: 1px solid rgba(63, 47, 31, 0.3);
        border-bottom: 1px solid rgba(63, 47, 31, 0.3);
        border-radius: 2px;
        &:not(:first-child) {
            opacity: 1;
        }
    }
}


.buttonIntro {
    position: absolute;
    top: 70vh;
    display: flex;
    position: relative;
    background: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

$speed: 0.5s;

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #3f2f1f;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    &:hover {
        &:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }

    &:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #3f2f1f;
        display: block;
        transition: $speed;
        position: absolute;
        background: rgb(243, 221, 200);
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        border-radius: 5px;
        border: 1px solid rgb(63, 47, 31);
        box-shadow: 0 0 18px -3px #3f2f1f;
    }

    &:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #3f2f1f;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: rgb(246, 243, 238);
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
        border-radius: 5px;
        border: 1px solid rgb(63, 47, 31);
        box-shadow: 0 0 18px -3px #3f2f1f;
    }
}

.welcomeText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    font-weight: 400;
    padding-top: 16vh;
    text-align: center;
}

.welcomeTextDescription {
    font-size: 20px;
    margin: 0;
}
