<div class="introSection">
    <div class="introContent" id="home">
        <div class="navbar">
            <div class="navbarLogo">
                <img src="assets/img/logomain.png" alt="Main Logo" onClick="location.reload()">
            </div>
            <div class="navbarLinks">
                <a href="#leistungen">
                    <span>Leistungen</span>
                </a>
                <a href="#preisliste">
                    <span>Preisliste</span>
                </a>
                <a href="#kontakt">
                    <span>Kontakt</span>
                </a>
            </div>
        </div>
        <div class="introText">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus nihil eius suscipit libero asperiores!
            Magnam quaerat fugit animi doloremque excepturi, exercitationem quibusdam fugiat quo iure nam ipsa aliquam
            eius molestias.
        </div>
    </div>
    <div class="designBg">
        <img src="assets/img/designmain.png" alt="Background Design Border">
    </div>
</div>