.introSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 243, 238);
}

.introContent {
    max-width: 1100px;
    width: 100%;
    z-index: 1;
}

.navbarSection {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10vh;
    background-color: rgb(243, 221, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 2px;
}

.navbarContent {
    height: 10vh;
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}

.navbarLogo {
    img {
        width: 85px;
        height: auto;
        cursor: pointer;
        border-radius: 100%;
        transition: all 225ms ease-in-out;
        &:hover {
            transform: scale(1.1);
            transition: all 225ms ease-in-out;
        }
    }
}

.navbarLinks {
    display: flex;

    a {
        text-decoration: none;
        padding: 15px;
        color: black;
        font-size: 18px;
        transition: all 280ms ease-in-out;
    }
}

.btn {
    color: #fff;
    cursor: pointer;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-family: "Oswald", sans-serif;
}

.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
    backface-visibility: hidden;
    border-color: #3f2f1f;
    transition: width 350ms ease-in-out;
    width: 70%;
}

.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}


.designBg {
    position: absolute;
    top: 220px;
    left: -280px;
    z-index: 0;
    pointer-events: none;
    img {
        opacity: 0.3;
    }
}

.introImageSlider {
    height: 100%;
    width: 100%;
    img {
        position: absolute;
        top: 27vh;
        height: 70vh;
        max-width: 1100px;
        width: 100%;
        object-fit: cover;
        transition: opacity 2s ease-in-out;
        opacity: 0;
        border: 1px solid rgb(63, 47, 31);
        border-radius: 2px;
        &:not(:first-child) {
            opacity: 1;
        }
    }
}

.aboutButton {
    position: absolute;
    top: 82vh;
    left: 44vw;
    text-align: center;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    border: 1px solid rgb(63, 47, 31);
    border-radius: 2px;
    background-color: rgb(243, 221, 200);
}

button {
    --b: 1px;
    --s: 0.15em;
    --c: rgb(63, 47, 31);
    padding: calc(0.05em + var(--s)) calc(0.3em + var(--s));
    color: rgb(63, 47, 31);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, rgb(63, 47, 31) 0) var(--_p) var(--_p) /
        calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: 0.3s linear, color 0s, background-color 0s;
    outline-offset: 0.2em;
    background-color: rgb(243, 221, 200);
    font-family: "Oswald", sans-serif;
}

button:hover,
button:focus-visible {
    --_p: 0px;
    outline-color: rgb(63, 47, 31);
    outline-offset: 0.05em;
}

button:active {
    background: #3f2f1f;
    color: #fff;
}

button {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
    border: none;
    margin: 0.1em;
}

.welcomeText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    font-weight: 400;
    padding-top: 10vh;
    z-index: 2;
    text-align: center;
}

.welcomeTextDescription {
    font-size: 20px;
    margin: 0;
}
