.aboutSection {
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 243, 238);
    z-index: 0;
}

.aboutContent {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    z-index: 1;
}

.aboutContent2 {
    display: flex;
    align-items: center;
}

.imgGalerie {
    margin-top: 10px;
    background-color: rgb(246, 243, 238);
    border: 1px solid rgb(63, 47, 31);
    border-radius: 3px;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    img {
        width: 150px;
        height: 130px;
        margin: 5px;
        object-fit: cover;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            opacity: 0.9;
        }
    }


    &::-webkit-scrollbar {
        height: 9px;
        width: 10px;
    }
    
}

.imgModal {
    z-index: 5;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
}

.imgModal img {
    margin: auto;
    display: block;
    height: 90%;
    width: auto;
}

.previousImg {
    position: fixed;
    top: 50vh;
    left: 0;
}

.nextImg {
    position: fixed;
    top: 50vh;
    right: 0;
}

.closeImg {
    position: fixed;
    top: 0;
    right: 0;
}
.downloadImg {
    position: fixed;
    bottom: 0;
    left: 45vw;
}
