.aboutSection {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 243, 238);
}

.aboutContent {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    z-index: 1;
    padding-top: 80px;
}

.aboutContent2 {
    display: flex;
    align-items: center;
}

.imgGalerie {
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    height: 150px;
}