<div class="aboutSection">
    <div class="aboutContent" id="about">
        <div class="aboutContent2">
            <span>
                <h2>Bei uns können Sie sich sicher und wohl fühlen!</h2><br>
                Das Kosmetikstudio Schönzeit in Bergheim ist der ideale Ort, um sich eine Auszeit vom Alltag zu gönnen
                und
                sich rundum verwöhnen zu lassen. Hier erwarten Sie erfahrene und professionelle Kosmetikerinnen, die
                Ihnen
                eine breite Palette an hochwertigen Behandlungen anbieten. Egal, ob Sie sich eine Gesichtsbehandlung,
                eine
                Massage, eine Maniküre oder Pediküre wünschen, das Team von Schönzeit ist darauf spezialisiert, Ihnen
                eine
                individuelle und auf Ihre Bedürfnisse abgestimmte Behandlung zu bieten. Dabei kommen ausschließlich
                hochwertige Pflegeprodukte zum Einsatz, die Ihre Haut und Nägel pflegen und verwöhnen.
                <br><br>
                Das Ambiente des Studios ist modern und stilvoll gestaltet und lädt zum Entspannen und Wohlfühlen ein.
                Hier
                können Sie sich in ruhiger Atmosphäre zurücklehnen und den Stress des Alltags hinter sich lassen.
                Darüber
                hinaus bietet Schönzeit auch regelmäßig Workshops und Seminare zu verschiedenen Themen rund um die
                Schönheitspflege an. Hier können Sie von den Expertinnen lernen, wie Sie Ihre Haut optimal pflegen oder
                sich
                selbst professionell schminken können. Insgesamt ist das Kosmetikstudio Schönzeit in Bergheim ein Ort,
                an
                dem Sie sich rundum wohl und gut aufgehoben fühlen werden. Hier steht die individuelle Beratung und
                Betreuung jedes einzelnen Kunden im Vordergrund, um ein optimales Ergebnis zu erzielen. Überzeugen Sie
                sich
                selbst und gönnen Sie sich eine Auszeit bei Schönzeit.
            </span>
            <img src="assets/img/selfpicture.png" alt="Self Picture">
        </div>
        <!-- IMAGE BOX LEISTE -->
        <div class="imgGalerie">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden1.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden2.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden3.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden4.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden5.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden6.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden7.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden8.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden9.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden10.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden11.jpg" alt="Foto vom Kosmetikstudio">
            <img #myImg (click)="openImg($event)" src="assets/img/imgLaden12.jpg" alt="Foto vom Kosmetikstudio">
        </div>
        <!-- WENN AUF EIN BILD GEKLICKT WIRD -->
        <div #imgModal class="imgModal">
            <img src="">
            <button (click)="closeImg()" class="closeImg">x</button>
            <button (click)="previousImg()" class="previousImg">
                <span>
                    < </span>
            </button>
            <button (click)="nextImg()" class="nextImg">
                <span>></span>
            </button>
            <button (click)="downloadImg()" class="downloadImg">
                <img src="assets/img/downloadbtn.png" alt="Download Button">
            </button>
            <button (click)="fullscreenImg()" class="fullscreenImg">
                <img src="assets/img/fullscreenbtn.png" alt="Fullscreen Button">
            </button>
        </div>
    </div>
</div>