.aboutSection {
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 243, 238);
    z-index: 0;
}

.aboutContent {
    max-width: 1100px;
    width: 100%;
    padding-top: 80px;
    z-index: 1;
}

.aboutContent2 {
    display: flex;
    align-items: flex-end;
    span {
        padding-bottom: 50px;
    }
}

.imgGalerie {
    margin-top: 0px;
    background-color: rgb(243, 221, 200);
    border: 1px solid rgba(63, 47, 31, 0.3);
    border-radius: 3px;
    height: 123px;
    width: 95%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    img {
        width: 120px;
        height: 100px;
        margin: 6px;
        margin-left: 13px;
        margin-right: 13px;
        object-fit: cover;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid rgb(63, 47, 31);
        &:hover {
            opacity: 0.9;
            box-shadow: 0 0 18px -5px #3f2f1f;
        }
    }

    &::-webkit-scrollbar {
        height: 9px;
        width: 10px;
    }
}

.imgModal {
    z-index: 5;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
}

.imgModal img {
    margin: auto;
    display: block;
    height: 90%;
    width: auto;
}

.previousImg {
    position: fixed;
    top: 50vh;
    left: 0;
    border: none;
    background: none;
    color: white;
    font-size: 40px;
    padding: 15px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    &:hover {
        transition: all 225ms ease-in-out;
        transform: scale(1.1);
    }
}

.nextImg {
    position: fixed;
    top: 50vh;
    right: 0;
    border: none;
    background: none;
    color: white;
    font-size: 40px;
    padding: 15px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    &:hover {
        transition: all 225ms ease-in-out;
        transform: scale(1.1);
    }
}

.closeImg {
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: white;
    font-size: 40px;
    padding: 15px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    &:hover {
        transition: all 225ms ease-in-out;
        transform: scale(1.1);
    }
}
.downloadImg {
    position: fixed;
    bottom: 0;
    right: 60px;
    border: none;
    background: none;
    padding: 15px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    img {
        width: 30px;
        height: auto;
        object-fit: cover;
    }
    &:hover {
        transition: all 225ms ease-in-out;
        transform: scale(1.1);
    }
}

.fullscreenImg {
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    background: none;
    padding: 15px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    img {
        width: 30px;
        height: auto;
        object-fit: cover;
    }
    &:hover {
        transition: all 225ms ease-in-out;
        transform: scale(1.1);
    }
}

.imgBoxAnimation {
    animation: imgBoxAnimation 0.4s ease-out;
    scroll-behavior: smooth;
}

@keyframes imgBoxAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
