<div class="aboutSection">
    <div class="aboutContent" id="about">
        <h1>Kosmetikstudio SchönZeit</h1>
        <span>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eum odit at vero vel quam quia et consequatur a amet! Quasi quae sint totam maiores provident eius quisquam nemo in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quia officiis possimus est consequatur. Veritatis molestiae dolorem ab quibusdam alias voluptate praesentium unde temporibus odit sint. Hic animi assumenda sint!          
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur nam ipsum quod sit nulla quasi eaque, incidunt consequuntur dolorem perferendis facere et voluptatem alias, sed deserunt. Debitis, laborum sunt.
            <br><br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eum odit at vero vel quam quia et consequatur a amet! Quasi quae sint totam maiores provident eius quisquam nemo in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quia officiis possimus est consequatur. Veritatis molestiae dolorem ab quibusdam alias voluptate praesentium unde temporibus odit sint. Hic animi assumenda sint!          
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur nam ipsum quod sit nulla quasi eaque, incidunt consequuntur dolorem perferendis facere et voluptatem alias, sed deserunt. Debitis, laborum sunt.
            <br><br>
        </span>
    </div>
</div>