<div class="footerSection">
    <div class="footerContent">
        <div class="footerLogo">
            <a href="#home">
                <img src="assets/img/logomain.png" alt="Footer Logo">
            </a>
            <div class="">
                <span>Impressum & Datenschutz</span>
            </div>
        </div>
        <div class="copyright">&copy;&nbsp;Kosmetikstudio SchönZeit 2023</div>
        <div class="footerLinks">
            <a href="https://www.instagram.com" target="_blank">
                <img src="assets/img/logoinstagram.png" alt="Logo Instagram">
            </a>
            <a href="mailto:test@test.de" target="_blank">
                <img src="assets/img/logomail.png" alt="Logo Mail">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="assets/img/logofacebook.png" alt="Logo Facebook">
            </a>
        </div>

    </div>
</div>