.footerSection {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 221, 200);
    border-top: 1px solid rgba(143, 107, 73, 0.3);
}

.footerContent {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    a {
        cursor: default;
    }
    img {
        width: 140px;
        height: auto;
        border-radius: 100%;
        cursor: pointer;
        margin-bottom: 15px;
        transition: all 225ms ease-in-out;
        &:hover {
            transform: scale(1.1);
            transition: all 225ms ease-in-out;
        }
    }
}

.footerLinks {
    a {
        cursor: default;
    }
    img {
        width: 40px;
        height: auto;
        margin: 15px;
        transition: all 225ms ease-in-out;
        cursor: pointer;
        border-radius: 100%;
        &:hover {
            transform: scale(1.2);
            transition: all 225ms ease-in-out;
        }
    }
}
