<div class="kontaktSection">
    <div class="kontaktContent" id="kontakt">
        <h1>Kontakt</h1>
        <div class="kontaktPosition">
            <div class="openTimeContent">
                <h2>Öffnungszeiten</h2>
                <span>Mo: 09:00–18:00 Uhr</span>
                <span>Di: 09:00–18:00 Uhr</span>
                <span>Mi: 09:00–18:00 Uhr</span>
                <span>Do: 09:00–18:00 Uhr</span>
                <span>Fr: 09:00–18:00 Uhr</span>
                <span>Sa: Geschlossen</span>
                <span>So: Geschlossen</span>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2513.3936545859956!2d6.635753916036001!3d50.95342567954802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf47abe8d6b85b%3A0xca62c5a7a966a415!2sHauptstra%C3%9Fe%2070%2C%2050126%20Bergheim!5e0!3m2!1sde!2sde!4v1678117772033!5m2!1sde!2sde"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<div class="designBg">
    <img src="assets/img/designmain.png" alt="Background Design Border">
</div>